<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/wrap}">
<div layout:fragment="content">
	<div class="card">
		<div class="card-header">Register Page</div>
		<div class="card-body">
			<form action="register" method="post">
				<!-- /같은게 없어도 register라는 경로이다~ -->
				<div class="form-group">
					<label>Title</label> <input class="form-control" name="title"
						th:value=${vo.title} />
					<p class="help-block">Title text here.</p>
				</div>
				<div class="form-group">
					<label>Content</label>
					<textarea class="form-control" name="content"
						th:value=${vo.content}></textarea>
				</div>
				<div class="form-group">
					<label>Writer</label> <input class="form-control" name="writer"
						th:value=${vo.writer}/>
				</div>
				<button type="submit" class="btn btn-outline-primary">Submit
					Button</button>
				<button type="reset" class="btn btn-primary">Reset Button</button>
			</form>
		</div>
	</div>

</div>