<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/wrap}">
<div layout:fragment="content">
	<div class="card">
		<div class="card-header">Register Page</div>
		<div class="card-body">
			<div class="form-group">
				<label>Title</label> <input class="form-control" name="title"
					th:value=${vo.title} readonly />
				<p class="help-block">Title text here.</p>
			</div>
			<div class="form-group">
				<label>Content</label>
				<textarea class="form-control" name="content" th:value=${vo.content} readonly ></textarea>
			</div>
			<div class="form-group">
				<label>Writer</label> <input class="form-control" name="writer"
					th:value=${vo.writer} readonly />
			</div>
			<div class="form-group">
				<label>RegDate</label> <input class="form-control" name="regDate"
					th:value="${#dates.format(vo.regdate,'yyyy-MM-dd')}" readonly="readonly" />
			</div>
			<div class="d-flex justify-content-end">
			<a th:href="@{modify(page=${pageVO.page},
			 					size=${pageVO.size},
			  					type=${pageVO.type},
			  					keyword=${pageVO.keyword},
			  					bno=${vo.bno})}" class="btn btn-outline-primary">Modify</a>
			 <a th:href="@{list(page=${pageVO.page},
			 					size=${pageVO.size},
			  					type=${pageVO.type},
			  					keyword=${pageVO.keyword},
			  					bno=${vo.bno})}" class="btn btn-outline-primary">Go List</a>
			  					 
			</div>
		</div>
	</div>
</div>